  
  <mat-card>
    <mat-card-content>
      <h1 class="h1">Range Slider</h1>
               
       <section class="section">
       <mat-form-field class="example-margin">
        <input matInput type="number" placeholder="Value" [(ngModel)]="sliderValue">
          </mat-form-field>
          
          <mat-form-field class="example-margin" *ngIf="arrBirds"> 
             <input matInput type="text"  placeholder="Data Point" [(ngModel)]="sliderDp">
              </mat-form-field>   
           
           <mat-form-field class="example-margin">
        <input matInput type="number" placeholder="Min value" [(ngModel)]="min">
        </mat-form-field>
        <mat-form-field class="example-margin">
         <input matInput type="number" placeholder="Max value" [(ngModel)]="max">
        </mat-form-field>
       <mat-form-field class="example-margin">
    <input matInput type="number" placeholder="Step size" [(ngModel)]="step">
     </mat-form-field>
    </section>
        
    <section class="section">
      <mat-form-field class="example" *ngIf="arrBirds"> 
        <input matInput type="text"  placeholder="What is it" [(ngModel)]="sliderWst">
         </mat-form-field>
    </section>
     
    <section class="section">
         <mat-form-field class="example-margin" *ngIf="arrBirds"> 
            <input matInput type="text"  placeholder="Friends" [(ngModel)]="sliderFrnds">
             </mat-form-field>   
          
             <mat-form-field class="example-margin" *ngIf="arrBirds"> 
              <input matInput type="text"  placeholder="Friends Of Friends" [(ngModel)]="sliderFof">
               </mat-form-field>
               <mat-form-field class="example-margin" *ngIf="arrBirds"> 
                <input matInput type="text"  placeholder="App Developers" [(ngModel)]="sliderAdev">
                 </mat-form-field>
                 <mat-form-field class="example-margin" *ngIf="arrBirds"> 
                  <input matInput type="text"  placeholder="Advertisers" [(ngModel)]="sliderAd">
                   </mat-form-field>
   </section>

   <section class="section">
   <mat-checkbox class="example-margin" [(ngModel)]="showTicks">Show ticks</mat-checkbox>
    <mat-checkbox class="example-margin" [(ngModel)]="autoTicks" *ngIf="showTicks">
     Auto ticks
     </mat-checkbox>
    <mat-form-field class="example-margin" *ngIf="showTicks && !autoTicks">
 <input matInput type="number" placeholder="Tick interval" [(ngModel)]="tickInterval">
     </mat-form-field>
  </section>
               
   <section class="section">
  <mat-checkbox class="example-margin" [(ngModel)]="thumbLabel">Show thumb label</mat-checkbox>
    </section>
               
  </mat-card-content>
   </mat-card>
               
   <mat-card class="result">
    <mat-card-content>
   <h2 class="h1">Result</h2>

   <mat-slider
     class="example-margin"
      [invert]="invert"
      [max]="max"
      [min]="min"
      [step]="step"
      [thumbLabel]="thumbLabel"
      [tickInterval]="tickInterval"
      [(ngModel)]="sliderValue"
      (change)="onChange(sliderValue)">
                  
    </mat-slider>

    <input type="button" width="100px" height="100px">

     </mat-card-content>
   </mat-card>
 
   <table *ngIf="arrBirds">
    <tr>
    <th>Data Point</th>
     <th>What it is</th>
     <th>Friends</th>
     <th>FoF</th>
     <th>App Dev</th>
     <th>Advertisers</th>
                          
   </tr>
         
   <!--BIND ARRAY TO TABLE -->
     <tr *ngFor="let bird of arrBirds">
    <td>{{bird.DataPoint}}</td>
    <td>{{bird.WhatIsIt}}</td>
    <td>{{bird.Friends}}</td>
    <td>{{bird.FriendsofFriends}}</td>
    <td>{{bird.AppDevelopers}}</td>
    <td>{{bird.Advertisers}}</td>
                       
    </tr>
   </table> 
<br>
 
      
 

   
     
 



